/*
*共通レイアウトCSS
*/
body {
  font-size: 100%;
  font-family: "Noto Serif JP", sans-serif;

  &.appear {
    background: #fbfbfb;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
}

#container {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

.heading {
  font-family: "Alex Brush", cursive;
  font-size: 5vw;
  font-weight: normal;
  color: navy;
  animation-delay: 0.3s;
}

@media screen and (max-width: 960px) {
  .heading {
    font-size: 3.5rem;
  }
}

/*
*header
*/
#header {
  background: #fff;

  & h1 {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: navy;
  }
}

#g-nav ul {
  display: flex;
  padding: 0 0 0 5%;

  & li {
    letter-spacing: 0.1em;
    white-space: nowrap;

    &:last-child {
      display: none;
    }

    & a {
      display: block;
      padding: 6px 15px;
    }
  }
}

#header ul#utility-navi {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  font-size: 0.8rem;

  & li {
    text-align: center;

    & img {
      width: 35%;
    }

    & span {
      display: block;
    }

    & a {
      color: #fff;
      padding: 15px 0;
      display: block;
      width: 100%;
      transition: all 0.5s;
    }

    &:first-child a {
      background-color: #666;

      &:hover {
        background-color: #888;
      }
    }

    &:last-child a {
      background-color: navy;

      &:hover {
        background-color: #2121f8;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  #g-nav ul {
    display: block;
    padding: 0;

    & li a {
      padding: 6px 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  #header h1 {
    top: 9px;
    transform: translateX(-70%);
  }

  #header ul#utility-navi li span {
    display: none;
  }

  #header ul#utility-navi li a {
    width: 70px;
    height: 70px;
    padding: 0;
  }

  #header ul#utility-navi li img {
    width: 45%;
    margin: 17px 0 0 0;
  }
}

@media screen and (max-width: 530px) {
  #header h1 {
    font-size: 1.3rem;
    top: 14px;
    transform: translateX(-50%);
  }

  #g-nav ul li:last-child {
    display: none;

    & a {
      background: navy;

      &:hover {
        background: #2121f8;
      }
    }
  }

  #header ul#utility-navi li:first-child {
    display: none;
  }
}

/*
*lead
*/
#lead {
  position: relative;
  padding: 150px 0 0 0;
  height: 100vh;

  & h2.heading {
    position: absolute;
    top: 200px;
    right: 10%;
  }

  & .lead {
    position: absolute;
    top: 320px;
    right: 4%;
    font-size: 2rem;
    letter-spacing: 0.2em;
    line-height: 1.6;
    white-space: nowrap;
    writing-mode: vertical-rl;

    & span {
      display: block;
      padding: 100px 0 0 0;
    }
  }
}

#slider-area {
  width: 70%;
  height: 70vh;
  position: relative;
  top: 0;
  left: 15%;
  z-index: -1;

  & #slider {
    width: 100%;
    height: 70vh;
  }
}

/*
*news
*/
#news {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 40%;
  z-index: 20;
  padding: 40px;

  & h2 {
    position: relative;
    font-size: 1.2rem;
    margin: 0 0 30px 0;

    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 1px;
      background: navy;
      left: 0;
      bottom: -5px;
    }
  }

  & li {
    margin: 0 0 10px 0;

    & a {
      transition: all 0.3s;

      &:hover {
        background: #efefef;
      }
    }

    & time {
      display: inline-block;
      padding: 0 20px 0 0;
      font-size: 0.8rem;
      color: #999;
    }
  }
}

@media screen and (max-width: 1200px) {
  #lead .lead {
    font-size: 1.8rem;
    right: 2.5%;
  }

  #news {
    width: 50%;
  }
}

@media screen and (max-width: 960px) {
  #lead .lead {
    font-size: 1.6rem;
    right: 3%;
  }

  #news {
    padding: 20px 30px;

    & li time {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  #slider-area {
    width: 74%;
    height: 90vh;
    left: 0;

    & #slider {
      height: 90vh;
    }
  }

  #lead h2 .heading {
    top: 160px;
  }

  #lead {
    padding: 100px 0 0 0;

    & .lead {
      right: 7%;
      top: 260px;
    }
  }

  #news {
    width: 100%;
    bottom: -200px;
  }
}

@media screen and (max-width: 550px) {
  #lead .lead {
    font-size: 1.3rem;
    right: 5%;
  }
}

@media screen and (max-width: 350px) {
  #lead .lead {
    right: 2%;
  }
}

/*
*service
*/
#service {
  position: relative;
  text-align: center;
  padding: 100px 0 0 0;

  & header {
    background-color: navy;
    color: #fff;
    // width: 90%;
    padding: 50px 0 100px 0;
    z-index: 10;

    & h2 {
      font-size: 1.3rem;
      margin: 0 0 20px 0;
      letter-spacing: 0.1em;
    }

    & p {
      margin: 0 0 30px 0;

      & br {
        display: none;
      }
    }
  }

  & .service-area {
    background: #fff;
    padding: 60px;
    width: 70%;
    position: relative;
    top: -50px;
    left: 10%;
    z-index: 20;

    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      transform: translate3d(0, 0, 0);

      & li {
        opacity: 0;
        width: 22%;
        padding: 0 0 50px 0;

        & a {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #service header {
    width: 100%;

    & p br {
      display: block;
    }
  }

  #service .service-area {
    width: 80%;
    left: 10%;
    padding-top: 80px 20px 30px 20px;

    & ul li {
      width: 40%;
    }
  }
}

@media screen and (max-width: 768px) {
  #service {
    padding: 200px 0 0 0;
  }
}

@media screen and (max-width: 550px) {
  #service .service-area {
    width: 90%;
    left: 5%;
  }
}

@media screen and (max-width: 400px) {
  #service .service-area {
    width: 100%;
    left: 0;
    font-size: 0.9rem;
  }
}

/*
*message
*/
#message {
  position: relative;
  padding: 0 70px;

  & h2 {
    position: absolute;
    right: 45%;
    z-index: 20;
  }
}

.message-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.message-img {
  background: url(images/two.jpg) no-repeat center;
  background-size: cover;
  height: 50vh;
  width: 48%;
}

.message-content {
  display: flex;
  justify-content: center;
  padding: 150px 0 0 0;
  width: 45%;

  & h3,
  & p,
  & .message-btn {
    writing-mode: vertical-rl;
    text-orientation: upright;
    height: 20em;
    letter-spacing: 0.1em;
  }

  & h3 {
    font-size: 1.5rem;
    line-height: 2.5;
  }

  & p {
    line-height: 3.5;
    margin: 0 0 0 50px;
  }
}

.message-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .message-content h3 {
    line-height: 2;
    margin: 0 0 0 10px;
  }

  .message-content p {
    line-height: 3;
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 1000px) {
  .message-content p {
    line-height: 2;
  }
}

@media screen and (max-width: 768px) {
  #message {
    padding: 0 30px;
  }

  .message-content h2 {
    position: relative;
    right: inherit;
    top: 40px;
  }

  .message-img,
  .message-content {
    width: 100%;
  }

  .message-img {
    height: 40vh;
  }

  .message-content {
    padding: 50px 0 0 0;
  }

  .message-content h3,
  .message-content p,
  .message-content .message-btn {
    writing-mode: horizontal-tb;
    height: inherit;
    margin: 0 0 50px 0;
  }

  .message-content h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  .message-box {
    display: block;

    & .btn {
      padding: 10px;
      display: block;
    }
  }
}

@media screen and (max-width: 430px) {
  .message-img {
    height: 20vh;
  }
}

@media screen and (max-width: 370px) {
  .message-content p br {
    display: none;
  }
}

/*
*history 
*/
#history {
  position: relative;
  padding: 0 0 70px 0;
  margin: 0 0 100px 0;

  & h2 {
    position: absolute;
    right: 45%;
    z-index: 20;
  }
}

.history-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.history-img {
  background: url(images/b-p-s19-4452.jpg) no-repeat center;
  background-size: cover;
  height: 50vh;
  width: 48%;
}

.history-content {
  width: 45%;
  padding: 150px 0 0 0;
}

@media screen and (max-width: 768px) {
  #history {
    padding: 0 30px;

    & h2 {
      position: relative;
      right: inherit;
      top: 40px;
    }
  }

  .history-content,
  .history-img {
    width: 100%;
  }

  .history-img {
    height: 40vh;
  }

  .history-content {
    padding: 50px 0 0 0;
  }
}

@media screen and (max-width: 430px) {
  .history-img {
    height: 20vh;
  }
}

/*
*footer
*/
#footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  & .footer-r {
    width: 70%;
    padding: 40px;
    background: navy;
    color: #fff;

    & .map-address {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;

      & address {
        font-style: normal;
        margin: 0 0 30px 0;
      }
    }

    & .map-block {
      width: 50%;
    }

    & .iframe-area {
      position: relative;
      padding-bottom: 51.65%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;

      & iframe,
      & object,
      & embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    & .map-area {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 0 100px 0;

      & h2 {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 1.3rem;
        width: 10%;
        letter-spacing: 0.3em;
        text-align: center;
      }
    }
  }

  & .footer-link {
    font-size: 0.9rem;
    padding-top: 0 0 0 50px;

    & li {
      display: inline-block;

      &:last-child a::after {
        content: "";
        padding: 0;
      }
    }

    & a {
      color: #fff;

      &::after {
        content: "/";
        padding: 0 10px;
      }
    }
  }

  & .footer-l {
    width: 30%;
    background: #333;

    & .footer-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #ccc;
      height: 40vh;
    }

    & .footer-contact-area h2 {
      font-size: 1.2rem;
      margin: 0 0 20px 0;
      letter-spacing: 0.1em;
    }

    & .footer-contact-area a {
      font-size: 1.5rem;
      padding: 0 0 20px 0;
      display: inline-block;
    }
  }

  & #copyright {
    background: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  & .page-top {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & span {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-top: 2px solid navy;
      border-right: 2px solid navy;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: 1045px) {
  #footer .footer-l,
  #footer .footer-r {
    width: 100%;
  }

  #footer .footer-l .footer-contact,
  #footer #copyright {
    height: inherit;
    padding: 40px 0;
  }

  #footer .footer-r .map-area h2 {
    width: 5%;
  }

  #footer .footer-link {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #footer .footer-r {
    padding: 80px 30px;

    & .map-area {
      margin: 0;

      & h2 {
        width: 100%;
        height: inherit;
        margin: 0 0 50px 0;
        writing-mode: horizontal-tb;
      }
    }

    & .map-address {
      width: 48%;
    }
  }

  #footer .footer-link {
    display: none;
  }

  #footer #page-top {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 560px) {
  #footer .footer-r .map-address,
  #footer .footer-r .map-block {
    width: 100%;
  }

  #footer .footer-r .map-address {
    margin: 0 0 50px 0;
  }
}
